<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sucesso!</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <div class="container">
    <h2>Obrigado por se inscrever!</h2>
    <p>Você será sempre o primeiro a receber nossas novidades.</p>
    <section class="links">
      <a href="/emails">Ver e-mails cadastrados</a>
      <a href="/">Voltar para página inicial</a>
    </section>
  </div>
</body>
</html>